{% extends 'base.html.twig' %}
{% block body %}
    <body class="skin-red-light">
    <div class="wrapper">
        {% block header %}
            {% include 'header.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'sidebar.html.twig' %}
        {% endblock %}
    </div>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                </div>
                <!-- left column -->
                <div class="col-md-12">
                    <div class="col-sm-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Nuevo asociado</h3>
                            </div>
                            <div class="box-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Nuevo proveedor</h3>
                            </div>
                            <div class="box-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Nuevo consumo</h3>
                    </div>
                    <div class="box-body">
                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
