{% extends 'Backoffice/PDF/layout.twig' %}
{% block body %}
    <body class="skin-red-light">
    <div class="content-wrapper">
        <section class="content-header">
            HOLA
        </section>

    </div>
    </body>
{% endblock %}
