<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h4 style="font-weight: bold; margin-bottom: 0;">CENTRAL DE COMPRAS Y SERVICIOS PROFESIONALES, S.A.</h4>
    Avd. Valdelaparra, 39 Naves D y E - Pol. Ind. de Alcobendas. 28108 ALCOBENDAS (Madrid)<br/>
    Tel.: +34 91 662 24 15 Fax.: +34 91 661 48  51<br/>
    E-mail: info@cecofersa.com <a href="http://www.cecofersa.com">www.cecofersa.com</a>
</div>
<div>
    <div class="col-xs-6 col-xs-offset-6" style="text-align: right">
        {{ "now"|date("d/m/Y") }}
    </div>
</div>
</body>
</html>